.wrapper {
  display:flex;
  flex-direction: column;
  margin: 70px auto 60px auto;
  background-color: white;
  color: black;
  max-width: 60vw;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 5px 10px 20px black;
  box-shadow: 5px 10px 20px black;
}

.single-image {
  width: 60vw;
  height: 300px;
  object-fit: cover;
}

table {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  display: block;
  border-collapse: separate;
  border-spacing: 50px 0;

}


.single-text-wrapper {
  padding: 10px;
  min-height: 400px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  object-fit: cover;
  overflow-wrap: break-word;
  
}

@media only screen and (max-width: 500px) {
  .single-text-wrapper {
    font-size: .8em;

  }
}
@media only screen and (max-width: 500px) {
  .wrapper {
    max-width: 85vw;
  }
  .single-image {
    width: 85vw;
  }
}

h1 {
  text-align: center;
}

.text-wrapper h1 {
  margin: 0;
}

